@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
  background: #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  gap: 30px;
  background: white;
  width: 480px;
  padding: 20px 20px 20px 40px; 
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
}

.icon {
  color: royalblue;
  font-weight: 700;
  font-size: 26px;
  background: lavender;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header {
  font-weight: bold;
  font-size: 18px;
}

.close-button {
  background: #eee;
  border: 1px solid #eee;
  border-radius: 50%;
  color: #888;
  font-size: 16px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.text {
  margin-top: 10px;
}

.buttons {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

button.continue {
  background: royalblue;
  color: white;
  border: 1px solid royalblue;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}

button.cancel {
  background: white;
  color: royalblue;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}